<div class="card-body border">
  <form (ngSubmit)="onSubmit(productItemForm)" #productItemForm="ngForm">
    <div class="form-group">
      <label for="name">Nazwa</label>
      <mat-form-field id="mat-form">
        <input type="text"  class="form-control" id="name" name="name"
          required [matAutocomplete]="auto" matInput
          [(ngModel)]="productItem.name"
          [formControl]="searchedProductsControl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngIf="isLoading" class="is-loading" >Szukam...</mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let prod of filteredProducts" [value]="prod.name" (onSelectionChange)="onDbProductSelected(prod)">
              <span><b>{{prod.name}}</b> ({{prod.category}})</span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="quantity">Ilość</label>
      <input type="number" [(ngModel)]="productItem.quantity" class="form-control" id="quantity" name="quantity"
        placeholder="Wprowadź ilość" required #name="ngModel" min="0">
    </div>
    <div class="form-group">
      <label for="categry">Kategoria</label>
      <select [(ngModel)]="productItem.category" class="form-control" id="category" name="category" #category="ngModel">
        <option value=null style="font-style: italic;">Wybierz kategorię</option>
        <option *ngFor="let key of productCategoriesKeys" [value]="key">
          {{ productsCategoryMap.get(key) }}
      </select>
    </div>
    <div class="form-group">
      <label for="unit">Jednostka</label>
      <select [(ngModel)]="productItem.unit" class="form-control" id="unit" name="unit" #unit="ngModel">
        <option value=null style="font-style: italic;">Wybierz jednostkę</option>
        <option *ngFor="let key of productUnitsKeys" [value]="key">
          {{ productsUnitMap.get(key) }}
      </select>
    </div>
    <div class="form-group" style="display: flex;" *ngIf='productItem.sourceProductId'>
      <input type="checkbox" [(ngModel)]="productItem.ifAddToDb" class="form-control" id="ifAddToDb" name="ifAddToDb"
        #ifAddToDb="ngModel" style="margin-right: 5px; display: flex;">
      <label for="ifAddToDb" class='checkbox-label'>Zaktualizuj w bazie produktów</label>
    </div>
    <div class="form-group" style="display: flex;" *ngIf='!productItem.sourceProductId'>
      <input type="checkbox" [(ngModel)]="productItem.ifAddToDb" class="form-control" id="ifAddToDb" name="ifAddToDb"
        #ifAddToDb="ngModel" style="margin-right: 5px; display: flex;">
      <label for="ifAddToDb" class='checkbox-label'>Dodaj do bazy produktów</label>
    </div>
    <button type="submit"
      [disabled]="!productItemForm.form.valid || productItemForm.form.value.quantity<0 || productItem.category == null"
      class="btn btn-info">
      <span *ngIf="productItem.id==undefined">Dodaj</span>
      <span *ngIf="productItem.id">Zapisz</span>
    </button>
    
  </form>
</div>
