// .border {
//     border: 1px solid rgba(0,0,0,.125);
//     border-radius: .25rem
// }

input[type=checkbox] {
    width: auto;
}

.checkbox-label {
    display: inline-flex;
    margin-top: auto;
}