<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">{{ title }}</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
    </ul>

    <ul class="navbar-nav mc-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/products" class="nav-link" routerLink="products">Baza produktów</a>
      </li>
      <li class="nav-item">
        <a href="/shops" class="nav-link" routerLink="shops">Baza sklepów</a>
      </li>
      <li class="nav-item">
        <a href="/shoppingListsMenu" class="nav-link" routerLink="shoppingListsMenu">Listy zakupów</a>
      </li>
    </ul>


    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Dołącz</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Zaloguj</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Panel administracyjny</a>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Wyloguj</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
