<app-log-in-comunicate class='hidden' [parentComponentName]="'list zakupów'" id='logInCommunicate-lists'></app-log-in-comunicate>
<app-loading-spinner class='hidden' id='loading-spinner-parent'></app-loading-spinner>
<div class="card my-1 hidden" id ='app-shopping-lists'>
  <div class="card-body">
    <div class="form-group">
      <select type="number" class="form-control" id="listId" required (change)="loadList()">
        <option class="hidden" disabled value=0 id="noListsAvailableOption"> Brak list do wyświetlenia </option>
        <option *ngFor="let list of lists" [value]="list.id">Lista nr {{ list.id }}, sklep: {{ list.shopName }}, 
          autor: {{ list.buyer.userName }}
        </option>
      </select>
      <button type="submit" (click)="editList()" class="btn btn-info hidden" id='edit-list-btn'>Edytuj</button>
      <button type="submit" (click)="createNewList()" class="btn btn-info">Dodaj nową listę</button>
      <button type="submit" (click)="gazetkaRedirection()" class="btn btn-link" id='gazetka-btn'>Zobacz gazetkę</button>
      <button class="btn btn-danger hidden" id="deleteListBtn" (click)="deleteList()">Usuń listę</button>
    </div>
  </div>
  <div id='shopping-list-container' hidden>
    <app-shopping-list [selectedListId]="selectedListId" [uploadSuccess] = "uploadSuccess"></app-shopping-list>
  </div>
</div>