/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
$light-green: #bafacd;
$light-red: #ffe5e3;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.border {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem
}

.hidden {
  display: none !important;
}

.delete-btn {
  background-image: url('/assets/icons/trash.svg');
  background-position: center;
  float: right
}

.edit-btn {
  background-image: url('/assets/icons/edit.svg');
  background-position: center;
  float: right
}

.list-item-button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 20px;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.btn-link {
  background-color: azure!important;
  border-color: #007bff!important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}