<app-loading-spinner id='loading-spinner-child'></app-loading-spinner>
<div class="card-body" class='hidden' id="app-shopping-list">


  <div>
    <mat-slide-toggle id="switchWyswietlWszystkieKat" [(ngModel)]="isWyswietlWszystkieKat"
      (change)="toggleAllCategories()">Wyświetl wszystkie kategorie</mat-slide-toggle>
    <mat-slide-toggle id="switchMode" [(ngModel)]="isZakupyMode">Tryb zakupów</mat-slide-toggle>
    <mat-slide-toggle id="switchUkryjZrealizowane" [(ngModel)]="isUkryjZrealizowane">Ukryj zrealizowane
    </mat-slide-toggle>
    <mat-slide-toggle id="switchUkryjAutora" [(ngModel)]="isUkryjAutora">Ukryj autora</mat-slide-toggle>
  </div>

  <div id="category-buttons" class="border" [ngClass]="{ 'hidden': isWyswietlWszystkieKat }">
    <p style="margin-bottom: auto;"><i>Kategorie</i></p>
    <button type="button" class="btn btn-light category-btn" *ngFor="let category of productCategoriesKeys"
      (click)="filterByCategory($event)" id="{{ category }}">
      {{ productsCategoryMap.get(category) }}</button>
  </div>

  <div style="display: flex; align-items: baseline;">
    <h1>LISTA ZAKUPÓW</h1>
    <button (click)="getPdf()" [ngClass]="{ 'hidden': isZakupyMode }" style="width: fit-content;" mat-menu-item>
      <mat-icon class="mr" style="margin-right: 4px;">print</mat-icon>
    </button>
  </div>
  <ul id="shopping-list-table" *ngIf="productsList" class="list-group">
    <li *ngFor="let product of productsList" class="product-item list-group-item {{ product.category }}" [ngClass]="{
          'bought': product.productStatus === 'BOUGHT',
          'not-available': product.productStatus === 'NOT_AVAILABLE',
          'hidden': (isUkryjZrealizowane && (product.productStatus === 'BOUGHT' || product.productStatus === 'NOT_AVAILABLE'))
        }" id='{{ product.id }}'>
      <button (click)="setAsBought(product)" class="list-item-button bought-btn"
        [ngClass]="{ 'hidden': !isZakupyMode }"></button>
      <div [ngClass]="{ 'zakupy-mode-padding': isZakupyMode,
      'edycja-mode-padding': !isZakupyMode}">
        {{ product.quantity }} {{ product.unit }}: <b> {{ product.name }} </b> <i>
          ({{ productsCategoryMap.get(product.category) }})</i>
        <span *ngIf="product.author!=null" class='productItemAuthor' [ngClass]="{ 'hidden': isUkryjAutora }">
          {{ product.author.userName }} </span>
      </div>
      <button (click)="removeElement(product)" class="list-item-button delete-btn"
        [ngClass]="{ 'hidden': isZakupyMode }"></button>
      <button (click)="editElement(product)" class="list-item-button edit-btn"
        [ngClass]="{ 'hidden': isZakupyMode }"></button>
      <button (click)="setAsNotAvailable(product)" class="list-item-button notAvailable-btn"
        [ngClass]="{ 'hidden': !isZakupyMode }"></button>
    </li>
    <li class="list-group spinner-li hidden" id='spinner-li'>
      <img src="../../../assets/gifs/spinner.gif">
    </li>
  </ul>

  <div>
    <div fxHide.xs>
      <button (click)="addElement()" class="btn btn-primary" [ngClass]="{ 'hidden': isZakupyMode }">Dodaj nowy
        produkt</button>
    </div>
    <div class="fab-container" fxHide fxShow.xs>
      <button mat-fab class="fab-add-element" (click)="addElement()">
        <i class="material-icons">add</i>
      </button>
    </div>

    <app-product-item-form (formSubmit)="addProductItem($event)" id='addNewProductItemForm' class='hidden'>
    </app-product-item-form>
    <br>
  </div>
</div>
