<div class="card my-5">
  <div class="card-body">
    <app-product-item-form (formSubmit)="addProductItem($event)"></app-product-item-form>
    <table class="table table-bordered table-striped"  id="shopping-list-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Kategoria</th>
          <th scope="col">Nazwa</th>
          <th scope="col">Ilość</th>
          <th scope="col">Jedn.</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productsList" class="product-item"
        [ngClass]="{
          'bought': product.productStatus === 'BOUGHT',
          'not-available': product.productStatus === 'NOT_AVAILABLE' }">
            <td>{{ productsCategoryMap.get(product.category) }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ productsUnitMap.get(product.unit) }}</td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>
