@import '../../../styles.scss';

.bought {
  background-color: $light-green;
}

.not-available {
  background-color: $light-red;
}

.bought,
.not-available {
  font-style: italic;
  color: grey;
  text-decoration: line-through;
}

.bought-btn {
  background-image: url('../../../assets/icons/checked.svg');
}

.notAvailable-btn {
  background-image: url('../../../assets/icons/sad.svg');
  background-position: center;
  float: right;
  padding-right: 10vh;
}

.productItemAuthor{
  font-style: italic;
  color: blue;
}

.spinner-li {
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.spinner-li img {
  height: 25px;
  width: 25px;
}